name: Lint

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: YAML Lint
        run: |
          pip install yamllint
          yamllint configs/
      - name: ShellCheck
        run: |
          sudo apt-get install shellcheck
          shellcheck scripts/**/*.sh
